.transpose {
  /* позиционирование */
  position: fixed;
  top: 50px;
  left: 0;
  z-index: -1;

  /* бокс */
  display: flex;
  justify-content: center;

  /* размеры */
  width: 0;
  height: 0;

  /* эффекты */
  background-color: var(--bg-c-light);
  transition: all 0.3s ease-in-out;
}

.transpose_active {
  /* позиционирование */
  z-index: 10;

  /* размеры */
  width: 100%;
  height: 50px;


}

.transpose__button {
  /* размеры */
  width: 100%;
  height: 100%;

  /* цвета */
  color: var(--f-c-dark);

  /* текст */
  font-size: 25px;

  /* эффекты */
  background-color: var(--bg-c-medium);
  cursor: pointer;
  border: 1px solid var(--border-c-light);
}