.app {
  /* позиционирование */
  position: relative;

  /* размеры */
  width: 100%;
  max-width: 1280px;
  min-height: calc(100vh - 50px);
  height: 100%;

  /* отступы */
  margin: 0 auto;

  /* эффекты */
  background-color: var(--bg-c-light);
}