@import url('../vendor/normalize.css');
@import url('../vendor/fonts.css');

:root {
  --color-white: #FFFFFF;

  --color-black-dark: #515151;
  --color-black-medium: #515151;
  --color-black-light: #DDDDDD;

  --color-grey-dark: #515151;
  --color-grey-medium: #515151;
  --color-grey-light: #DDDDDD;

  --color-yellow-dark: #EFBF04;
  --color-yellow-medium: #EFBF04;
  --color-yellow-light: #EFBF04;

  --light: rgb(255, 255, 255);
  --active-color: rgba(241, 196, 15, 1);

  --f-c-dark: var(--dark);
  --f-c-light: rgba(255, 255, 255, 1);
  --f-c-active: var(--active-color);

  --bg-c-dark: var(--dark);
  --bg-c-medium: rgba(200, 200, 200, 0.2);
  --bg-c-light:

    --font-color-light: white;
  --font-color-dark: black;
  --border-color: #e1e1e1;
  --border-color-active: #515151;
  --shadow-color-active: #EFBF04;

  --font-size-text: 14px;

  --height-header: 50px;

}

#root {
  font-family: Roboto, Inter, 'Arial', 'Helvetica CY', 'Nimbus Sans L';
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

ul,
li,
pre,
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}