.hymn {
  position: relative;
  margin: 15px auto;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-wrap: wrap;
}

.hymn__title {
  text-align: center;
  margin: 0 auto;
  font-weight: 500;
}

.hymn__textContainer {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px 8px;
  padding: 0 15px 0 7px;
  margin-top: 20px;
}

.hymn__text {
  font-size: 15px;
  text-wrap: wrap;
  font-family: Roboto;
}

.hymn__str_text {
  line-height: 60px;
  font-size: var(--font-size-text);
  text-wrap: wrap;
  font-family: Roboto;
}

.hymn__str_accord {
  margin: 0;
  position: absolute;
  transform: translate(-10px, -25px);
  font-size: var(--font-size-text);
  /* color: rgb(241, 196, 15); */
  text-wrap: wrap;
  font-family: Roboto;
  font-weight: 500;
}

.hymn__numberText {
  /* padding-top: 20px; */
}