.button {
  /* отступы */
  padding: 12px 0;

  /* цвета */
  color: var(--color-white);

  /* текст */
  font-size: 25px;
  font-weight: 500;

  /* эффекты */
  background-color: var(--color-dark-1);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease;
}

.button:disabled {
  /* эффекты */
  background-color: var(--color-grey-4);
  cursor: not-allowed;
  opacity: 0.6;
}

.primary {
  padding: 10px 18px;
  font-size: 16px;

  color: white;
  background-color: var(--color-dark-1);
}

.primary:not(:disabled):hover {
  background-color: var(--border-color-active);
}

.control {
  padding: 6px 10px;
  font-size: 14px;

  background: white;
  color: black;
}

.control:not(:disabled):hover {
  transform: translateY(-1px);
}


.sm {
  padding: 4px 8px;
  font-size: 12px;
}

.md {
  padding: 8px 14px;
  font-size: 14px;
}

.lg {
  padding: 12px 20px;
  font-size: 18px;
}