.input {
  width: 100%;
  padding: 10px 14px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  transition: border-color 0.2s, box-shadow 0.2s;

  appearance: none;
  -moz-appearance: textfield;
}

.input:focus {
  outline: none;
  border-color: #888;
  box-shadow: 0 0 0 2px rgba(136, 136, 136, 0.2);
}




.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}