.input {
  /* размеры */
  width: 100%;

  /* отступы */
  padding: 10px 14px;

  /* текст */
  font-size: 25px;

  /* эффекты */
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  transition: border-color 0.2s, box-shadow 0.2s;
  appearance: none;
  -moz-appearance: textfield;
}

.input:focus {
  /* эффекты */
  outline: none;
  border-color: var(--color-grey-3);
  box-shadow: 0 0 0 2px var(--color-grey-10);
}

.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  /* отступы */
  margin: 0;
  /* эффекты */
  -webkit-appearance: none;
}