.hymnText {
  margin: 20px auto 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: Roboto;
}

.hymnText__content {
  display: grid;
  grid-template-columns: 30px auto;
}

.hymnText__section,
.hymnText__text {
  font-family: Roboto;
  font-size: 20px;
  text-wrap: wrap;
}

.hymnText__text_with_accords {
  font-family: Roboto;
  font-size: 20px;
  line-height: 2.5;
  text-wrap: wrap;
}