.hymnText {
  margin: 40px auto 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: Roboto;
}

.hymnText__content {
  display: grid;
  grid-template-columns: 30px auto;
}

.hymnText__text {
  font-family: Roboto;
  font-size: var(--font-size-text);
  color: var(--font-size-text);
  text-wrap: wrap;
}

.hymnText__text_with_accords {
  font-family: Roboto;
  font-size: var(--font-size-text);
  color: var(--color-text);
  line-height: calc(2.1 * var(--font-size-text));
  text-wrap: wrap;
}