.admin {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
  margin: 0 auto;
}

.admin__title {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin: 20px 0 10px;
}

.admin__buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin__form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;

  border: 1px solid var(--border-color);
}

.input__file {
  position: relative;
  display: inline-block;
}

.input__file span {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: 14px;
  vertical-align: middle;
  color: rgb(255 255 255);
  text-align: center;
  border-radius: 4px;
  background-color: #419152;
  line-height: 22px;
  height: 40px;
  padding: 10px 20px;
  box-sizing: border-box;
  border: none;
  margin: 0;
  transition: background-color 0.2s;
}

.input__file input[type=file] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

/* Focus */
.input__file input[type=file]:focus+span {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

/* Hover/active */
.input__file:hover span {
  background-color: #59be6e;
}

.input__file:active span {
  background-color: #2E703A;
}

/* Disabled */
.input__file input[type=file]:disabled+span {
  background-color: #eee;
}

.admin__link {
  text-decoration: none;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  align-self: start;
  padding: 10px;
  color: #000;
  transition: .3s ease-in-out;
}

.admin__link:hover {
  border: 1px solid var(--border-color-active);
}

.admin__button {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 10px;
  color: #000;
  transition: .3s ease-in-out;
  cursor: pointer;
}

.admin__button:hover {
  border: 1px solid var(--border-color-active);
}

.admin__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;

}

.admin__item {
  display: flex;
  gap: 5px;
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 5px;
}

.admin__text {
  margin-right: auto;
}