.admin__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 5px 15px;
  margin: 0;
  gap: 10px;
}

.admin__email {
  margin-right: auto;
}

.admin__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}