.burger,
.burger_active {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 32px;
  height: 32px;
  cursor: pointer;

  transition: all .3s;
}

@media screen and (max-width: 525px) {

  .burger,
  .burger_active {
    width: 25px;
    height: 25px;
    gap: 5px;
  }
}


.burger_active {
  transform: rotate(360deg);
}

.burger__item {
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s;
  border-radius: 2px;
}

.burger:hover .burger__item {
  background-color: rgb(241, 196, 15);
}

.burger_active:hover .burger__item {
  background-color: rgb(241, 196, 15);
}

.burger_active .burger__item_one,
.burger_active .burger__item_three {
  width: 50%;
}

.burger_active .burger__item_one {
  transform-origin: 100%;
  transform: rotate(-45deg) translate(-10px, -9px);
}

.burger_active .burger__item_three {
  transform-origin: 100%;
  transform: rotate(45deg) translate(-8px, 9px);
}